[Unit]
Description=OLED Shutdown Button Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/qincai/raspicube/raspicube/oled_shutdown.py
Restart=on-failure
WorkingDirectory=/home/qincai/raspicube
StandardOutput=journal
StandardError=journal
KillSignal=SIGTERM
TimeoutStopSec=5

[Install]
WantedBy=default.target