[Unit]
Description=RasPiCube Timer (User Level)

[Service]
Type=simple
WorkingDirectory=/home/qincai/raspicube/pi02w/raspicube
ExecStartPre=/usr/bin/git pull
ExecStart=/usr/bin/python3 /home/qincai/raspicube/pi02w/raspicube/raspicube.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

Environment=PYTHONPATH=/home/qincai/.local/lib/python3.11/site-packages
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/qincai/.local/bin

[Install]
WantedBy=default.target
